.header{
    width: 100%;
    height: 60px;
    margin-top: 9px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $colBlack;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        
        width: 1170px;
        height: 100%;
        margin: 0 auto;
    }

    .logo{
        align-self: flex-start;
    }

    .nav{
        display: flex;
        align-items: center;

        &__items{
            display: flex;
            justify-content: space-between;

            width: 428px;
            margin-right: 58px;
        }
        &__link{
            color: $colBlack;
            text-transform: uppercase;
        }
        .phone-number{
            display: block;
            align-self: flex-end;
            
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            color: $colBlack;

            &::before{
                content: "";
                display: inline-block;

                height: 16px;
                width: 16px;
                margin-right: 10px;

                background: url(../img/header/phone-logo.svg) no-repeat 0 0/contain;
            }
            &::after{
                content: "Ежедневно 9:00 – 22:00";
                display: block;

                margin-top: 8px;
                margin-left: 26px;

                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                color: #7D808A;
            }
        }
    }
}